nav{
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

nav ul{
    padding: 0;
    display: flex;
    margin: 0;
}

nav a{
    color: white;
    font-weight: bold;
    padding: 15px;
    display: inline-block;
    transition: background-color .5s;
}

nav a:hover{
    background-color: rgb(120, 158, 182);
}

.current-page {
    background-color: blue;
}